<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Qunity\Downloadable\Api\Data\LinkInterface" type="Qunity\Downloadable\Model\Data\Link"/>
    <type name="Magento\Downloadable\Api\LinkRepositoryInterface">
        <plugin name="Qunity_Downloadable::link_repository"
                type="Qunity\Downloadable\Plugin\Magento\Downloadable\Model\LinkRepository"/>
    </type>
</config>
