<button class="vjs-<%= type %>-button" type="button" data-action-type="<%= type %>" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <defs>
            <symbol viewBox="0 0 48 48" id="vjs-icon-play">
                <path d="M16 10v28l22-14z"/>
            </symbol>
            <symbol viewBox="0 0 48 48" id="vjs-icon-pause">
                <path d="M12 38h8V10h-8v28zm16-28v28h8V10h-8z"/>
            </symbol>
        </defs>
    </svg>
    <span class="vjs-icon-placeholder vjs-svg-icon">
        <svg viewBox="0 0 512 512">
            <use href="#vjs-icon-<%= type %>"/>
        </svg>
    </span>
</button>
