<button aria-hidden="true" class="vjs-<%= type %>-button" data-action-type="<%= type %>" type="button">
    <svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <symbol id="vjs-icon-play" viewBox="0 0 48 48">
                <path d="M16 10v28l22-14z"/>
            </symbol>
            <symbol id="vjs-icon-pause" viewBox="0 0 48 48">
                <path d="M12 38h8V10h-8v28zm16-28v28h8V10h-8z"/>
            </symbol>
        </defs>
    </svg>
    <span class="vjs-icon-placeholder vjs-svg-icon">
        <svg viewBox="0 0 512 512">
            <use href="#vjs-icon-<%= type %>"/>
        </svg>
    </span>
</button>
